@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;

    --primary: 225 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 7%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 7%;
    --muted-foreground: 0 0% 65%;

    --accent: 0 0% 7%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 7%;
    --input: 0 0% 7%;
    --ring: 225 100% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
